<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
       <div class="menu-bar">
        <ul>
          <!-- <li class="active">
            <a class="menu-bar-item" href="/">Home</a>
          </li>
          <li class="active">
            <a class="menu-bar-item" href="/">Colleges</a>
            <div class="sub-menu-col">
              <ul>
                <li class="submenu-item"><a  href="#">Lovely Professional University</a></li>
                <li class="submenu-item"><a href="#">Chandigarh University</a></li>
                <li class="submenu-item"><a href="#">Amity University</a></li>
                <li class="submenu-item"><a href="#">Amity University</a></li>
                <li class="submenu-item"><a href="#">Amity University</a></li>
                <li class="submenu-item"><a href="#">Amity University</a></li>
                
              </ul>
            </div>
          </li>
          <li class="active">
            <a class="menu-bar-item" href="/">Courses</a>
            <div class="sub-menu-col">
              <ul>
                <li class="submenu-item"><a href="#">B.Tech</a></li>
                <li class="submenu-item"><a href="#">B.C.A</a></li>
                <li class="submenu-item"><a href="#">B.Com</a></li>
              </ul>
            </div>
          </li>
          <li class="active">
            <a class="menu-bar-item" href="/">About Us</a>
          </li> -->
          <li class="active">
            <a class="menu-bar-item" href="/submit">submit</a>
          </li>
          <li class="active">
            <a class="menu-bar-item" href="/allcolleges">allCollege</a>
          </li>
        </ul>
       </div>
  </body>
</html>
